//
   Created by sseen on 2017/3/6.

extends layout

block content
    script.
        $(function () {
            self = plus.webview.currentWebview();
            name = self.urlStr;
            alert(name);
        });
    div#content