extends layout

block content
  script(src='javascripts/http.js')
  script.
      mui.init({
          pullRefresh: {
              container: '#pullrefresh',
              down: {
                  callback: pulldownRefresh
              },
              up: {
                  contentrefresh: '正在加载...',
                  callback: pullupRefresh
              }
          }
      });
      var count = 1;
      /**
       * 下拉刷新具体业务实现
       */
      function pulldownRefresh() {
          getUrlContent()
          count = 1;
      }

      /**
       * 上拉加载具体业务实现
       */
      function pullupRefresh() {
          setTimeout(function () {
              mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > 400)); //参数为true代表没有更多数据了。
              getMoreDat(count);
          },800);

      }




  div#header
    h1= title
    p Welcome to #{title}
    a(href='/users') Users
    button(onclick=('getUrlContent()')) Click

  div#pullrefresh
    div#scroll
      div#topFresh
        ul#uList
