doctype html
html
  head
    title= title
    script(src='http://code.jquery.com/jquery-1.9.1.js')
    script(src='javascripts/mui.min.js')

    //link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet',type='text/css',href='stylesheets/mui.min.css')
    meta(name="viewport",content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no")
    meta(name="apple-mobile-web-app-capable",content="yes")
    meta(name="apple-mobile-web-app-status-bar-style",content="black")
  body
    block content
